.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero-mid {
  width: 100%;
  height: 70vh;
  position: relative;
}
.hero-mid h1 {
  padding-top: 4rem !important;
}
img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  object-fit: cover;
}
.hero-txt {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.hero-txt h1 {
  font-size: 3rem;
  font-weight: 800;
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-txt p {
  font-size: 1.3rem;
  color: #fff;
  padding: 0.5rem 0 2rem 0;
}
.hero-txt .show {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.hero-txt .show:hover{
  background-color: #000;
  color: #fff;
  transition: all ease 0.2s;
}
.hero-txt hide {
  display: none;
}
@media screen and (max-width: 555px) {
  .hero-txt h1 {
    padding: 10px 20px;
  }
  .hero-txt p {
    font-size: 1.1rem;
    padding: 0 0 2rem 0;
  }
  .hero-txt .show {
    padding: 0.6rem 1.1rem;
    border-radius: 6px;
    font-size: 1rem;
  }
  .tragedy{
    padding-top: 860px;
  }
};

